
u: Когда совет директоров начал думать об этом проекте, Имани попросила меня проверить обычную вместимость, необходимую для проведения мероприятий в Артополисе. 
u: На основе моего исследования, в большинстве из них менее 400 посетителей. 
i: OK...
u: Однако, причиной отсутствия крупных мероприятий может заключаться в том, что не так много площадок могут поддержать их.
i: Ага!
u: Что ж, Эрис предложила иметь вместимость 600, чтобы дать нам преимущество.
i: В этом есть смысл.


j-jm-requirements2: "Что-нибудь еще?"
j-jm-requirements2: "Какие-либо другие требования?"


