
u: Также мы обсудили интерьер центра.
u: Первоначальная идея была создать необычный декор, но потом мы решили оставить его как можно более простым, потому что некоторые мероприятия должны создавать собственную атмосферу, что возможно только с простым интерьером.
i: Вероятно, это также помогает снизить затраты.
u: Да, да... конечно.
u: Также, простой интерьер надежен; все необычное может выйти из моды через несколько лет.


j-jm-requirements3: "Хорошо. Что еще?"
j-jm-requirements3: "Есть ли что-то еще?"


