
u: Что ж... Может быть я мог бы начать с этого: центр должен подходить для деловых мероприятий также как для художественных и культурных.
u: Таким образом, он должен быть подходящим для конференций, художественных выставок и других мероприятий.


j-jm-requirements4: "Ладно." 
j-jm-requirements4: "Хорошо. Дальше?"


