
u: So, you remember what I told you about having a simple interior?
i: Yes.
u: OK, it may be the opposite for the exterior.
u: We want to have an exceptional design for the exterior, so special that, hopefully, it will become a landmark in Artopolis.
u: After all, we are an architectural firm!


j-jm-requirements5: Skip another hour of conversation!


