
i: So, Azar, this is our current draft of the Project Description...

d---
**Project Description V0.5 (draft)**
Artophile Center

**Purpose and expected benefits:**
░░░░██████ Promoting the company
░░░░░░░░██ Helping the community
░░░░░░░░░█ Earning money (directly)
░░░░░░░░░█ Having a convenient place for our own events

**Expected cost and duration:**
* 12 months
* 800 artopools (+200 artopools as management reserve)

**Requirements and quality expectations:**
* Have capacity for 600 attendees.
* Have an exceptional exterior that will turn it into a landmark building.
* Be suitable for both business and artistic/cultural events.
* Have a simple interior that can be adapted for various events.
* (more...)

**Stakeholders:**
* Eris: CEO
* Anan: project sponsor, director of the sales and marketing department
* Didi: project manager
* Imani: director of the design department
* Sasha: team member, sales and marketing department staff
* Azar: team member, design department staff
---d

i: So, we have 9 major requirements and quality expectations.
i: Is that all?
u: Yes.


j-jm-checkpd: Give a copy of the document to Azar to check it with Imani.
j-jm-nopdcheck-endmeeting: End the meeting.
j-jm-prepdm: Start preparing the Deliverables Map.


