
u: Well... Maybe I could start with this one instead: The center should be suitable for business events as well as artistic and cultural ones.
u: So, it should be suitable for conferences, art exhibitions, and other things.


j-jm-requirements4: "Alright." 
j-jm-requirements4: "Good. Next?"


