
i: Итак, Азар, это актуальный черновик Резюме проекта...

d---
**Резюме проекта V0.5 (черновик)**
Артофил Центр

**Цель и ожидаемые выгоды:**
░░░░██████ Продвижение компании
░░░░░░░░██ Помощь сообществу
░░░░░░░░░█ Зарабатывание денег (напрямую)
░░░░░░░░░█ Наличие удобного места для наших собственных мероприятий

**Ожидаемые стоимость и срок реализации:**
* 12 месяцев
* 800 артопулов (+200 артопулов в качестве управленческого резерва на риски)

**Требования и ожидания по качеству:**
* Вмещает 600 посетителей.
* Имеет исключительный внешний вид, который превратит его в знаковое здание.
* Подходит как для бизнеса, так и для художественных/культурных мероприятий.
* Имеет простой интерьер, который может быть адаптирован под различные мероприятия.
* (еще...)

**Стейкхолдеры:**
* Эрис: CEO
* Анан: спонсор проекта, директор отдела продаж и маркетинга
* Диди: менеджер проекта
* Имани: директор проектного отдела
* Саша: член команды, сотрудник отдела продаж и маркетинга
* Азар: член команды, сотрудник проектного отдела
---d

i: Что ж, у нас есть 9 основных требований и ожиданий по качеству.
i: На этом все?
u: Да.


j-jm-checkpd: Дать копию документа Азару для проверки с Имани.
j-jm-nopdcheck-endmeeting: Закончить встречу.
j-jm-prepdm: Начать подготовку Карты результатов. 


