
u: We also had a discussion about the interior of the center.
u: The initial idea was to have fancy decor, but then we decided to keep it as simple as possible because some of the events need to create their own atmosphere, which is only possible when the interior is simple.
i: It probably helps keep the costs lower as well.
u: Yes, yes... of course.
u: Also, a simple interior is safe; anything fancy may go out of fashion after a few years.


j-jm-requirements3: "Good. What else?"
j-jm-requirements3: "Is there more?"


