
u: Итак, вы помните, что я говорил вам о простом интерьере?
i: Да.
u: OK, снаружи он может быть противоположным.
u: Мы хотим, чтобы для внешнего вида был исключительный дизайн, настолько особенный, что, надеюсь он станет достопримечательностью Артополиса.
u: В конце концов, мы - архитектурная компания!


j-jm-requirements5: Пропустить следующий час разговора!


