
i: Итак, Азар, это актуальный черновик Резюме проекта...

d---
**Резюме проекта V0.5 (черновик)**
Артофил Центр

**Цель и ожидаемые выгоды:**
░░░░██████ Продвижение компании
░░░░░░░░██ Помощь сообществу
░░░░░░░░░█ Зарабатывание денег (напрямую)
░░░░░░░░░█ Наличие удобного места для наших собственных мероприятий

**Ожидаемые затраты и продолжительность:**
* 12 месяцев
* 800 артобаксов (+200 артобаксов в качестве менеджерского резерва)

**Требования и ожидания по параметрам качества:**
* Have capacity for 600 attendees.
* Have an exceptional exterior that will turn it into a landmark building.
* Be suitable for both business and artistic/cultural events.
* Have a simple interior that can be adapted for various events.
* (more...)

**Стейкхолдеры:**
* Эрис: Генеральный директор
* Анан: спонсор проекта, директор отдела продаж и маркетинга
* Диди: менеджер проекта
* Имани: директор проектного отдела
* Саша: участник команды, сотрудник отдела продаж и маркетинга
* Azar: team member, design department staff
---d

i: So, we have 9 major requirements and quality expectations.
i: Is that all?
u: Yes.


j-jm-checkpd: Give a copy of the document to Azar to check it with Imani.
j-jm-nopdcheck-endmeeting: End the meeting.
j-jm-prepdm: Start preparing the Deliverables Map.


